# Database Setup and Data Input through Python

In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="meta_mario",password="abcd1234")

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute("CREATE DATABASE little_lemon_db")

In [4]:
cursor.execute("USE little_lemon_db")

In [13]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [14]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [15]:
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
Status VARCHAR(100),
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [16]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [17]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [19]:


# Create Bookings table
cursor.execute(Create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [20]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees VALUES(EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#

insert_employees = """
INSERT INTO Employees (Name, Role, Address, Contact_Number, Email, Annual_Salary) 
VALUES 
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132 Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');
"""

In [27]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

# Execute the SQL command
cursor.execute(insert_employees)

# Commit the transaction
connection.commit()

In [28]:
from mysql.connector.pooling import MySQLConnectionPool

In [29]:
from mysql.connector import Error

In [30]:
# Define your database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a",
                                 pool_size=2,
                                 **dbconfig)
    
    print("Connection pool 'pool_a' created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection pool 'pool_a' created successfully.

In [31]:
try:
    # Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Create a cursor object
    cursor = connection.cursor()
    
    print("Connection obtained and cursor created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection obtained and cursor created successfully.

In [33]:
try:
    # SQL statement to create the stored procedure
    create_procedure_query = """
    CREATE PROCEDURE PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS booking_hour, 
               COUNT(*) AS number_of_bookings
        FROM Bookings
        GROUP BY booking_hour
        ORDER BY number_of_bookings DESC;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    
    print("Stored procedure PeakHours created successfully.")

except Error as e:
    print(f"Error: {e}")

Stored procedure PeakHours created successfully.

In [34]:
try:
    # Call the stored procedure PeakHours
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")

except Error as e:
    print(f"Error: {e}")

Stored procedure PeakHours called successfully.

In [35]:
# Fetch the results returned by the stored procedure
dataset = cursor.stored_results()

In [36]:
# Assuming we have results to extract column names
for result in dataset:
    column_names = [i[0] for i in result.description]
    break  # We only need the column names once

In [37]:
print("Column names:", column_names)

Column names: ['booking_hour', 'number_of_bookings']

In [38]:
# Iterate over the dataset to print the results
for result in dataset:
    rows = result.fetchall()
    for row in rows:
        print(row)

In [47]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 1: Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Step 2: Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Step 3: Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Step 4: Drop the existing stored procedure if it exists
    cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")
    print("Existing stored procedure PeakHours dropped successfully.")
    
    # Step 5: Create the stored procedure PeakHours
    create_procedure_query = """
    CREATE PROCEDURE PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS booking_hour, 
               COUNT(*) AS number_of_bookings
        FROM Bookings
        GROUP BY booking_hour
        ORDER BY number_of_bookings DESC;
    END;
    """
    cursor.execute(create_procedure_query)
    print("Stored procedure PeakHours created successfully.")
    
    # Step 6: Call the stored procedure PeakHours
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")
    
    # Step 7: Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Step 8: Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Step 9: Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Step 10: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Existing stored procedure PeakHours dropped successfully.
Stored procedure PeakHours created successfully.
Stored procedure PeakHours called successfully.
Column names: ['booking_hour', 'number_of_bookings']

In [48]:
# Print the sorted data
for result in dataset:
    rows = result.fetchall()
    for row in rows:
        print(row)

In [54]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 1: Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Step 2: Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Step 3: Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Step 4: Create the stored procedure GuestStatus
    create_procedure_query = """
    CREATE PROCEDURE GuestStatus()
    BEGIN
        SELECT 
            CONCAT(Booking.FirstName, ' ', Booking.LastName) AS guest_name,
            CASE 
                WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
                WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
                WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
                WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
                ELSE 'Status Unknown'
            END AS order_status
        FROM 
            Bookings
        LEFT JOIN 
            Employees ON Bookings.EmployeeID = Employees.EmployeeID;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    print("Stored procedure GuestStatus created successfully.")
    
    # Step 5: Call the stored procedure GuestStatus
    cursor.callproc('GuestStatus')
    print("Stored procedure GuestStatus called successfully.")
    
    # Step 6: Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Step 7: Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Step 8: Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Step 9: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Error: 1304 (42000): PROCEDURE GuestStatus already exists
Connection closed and returned to pool.

In [55]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Drop the existing stored procedure if it exists
    cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus")
    print("Existing stored procedure GuestStatus dropped successfully.")
    
    # Create the stored procedure GuestStatus with corrected column names
    create_procedure_query = """
    CREATE PROCEDURE GuestStatus()
    BEGIN
        SELECT 
            CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS guest_name,
            CASE 
                WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
                WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
                WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
                WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
                ELSE 'Status Unknown'
            END AS order_status
        FROM 
            Bookings
        LEFT JOIN 
            Employees ON Bookings.EmployeeID = Employees.EmployeeID;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    print("Stored procedure GuestStatus created successfully.")
    
    # Call the stored procedure GuestStatus
    cursor.callproc('GuestStatus')
    print("Stored procedure GuestStatus called successfully.")
    
    # Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Existing stored procedure GuestStatus dropped successfully.
Stored procedure GuestStatus created successfully.
Stored procedure GuestStatus called successfully.
Column names: ['guest_name', 'order_status']
Connection closed and returned to pool.

In [59]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 1: Define your database configurations as a Python dictionary
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 2: Establish a connection pool [pool_name = pool_b] with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection pool 'pool_b' created successfully.